<section class="ftco-section-2 img" id="compras-section" style="background-image: url(../../Style/images/bg_3.jpg);">
    <div style="text-align:center; background-color:white;">
        <h2>Pasos para realizar tu pedido</h2>
    </div>
    <div class="container">

        <div class="row d-md-flex justify-content-end">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="services-wrap ftco-animate">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="ion-ios-arrow-back"></span>
                                <span class="ion-ios-arrow-forward"></span>
                            </div>
                            <h2 style="color:#1FAAF1;">Descarga los Catálogos</h2>
                            <p>Son cinco diferentes, los cuales tienen cientos de productos para tener una papelería super surtida y lo mejor a un costo increible.</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="ion-ios-arrow-back"></span>
                                <span class="ion-ios-arrow-forward"></span>
                            </div>
                            <h2 style="color:#91EE01;">Envianos tu pedido</h2>
                            <p>Puedes enviarnos tu pedido a nuestro correo o bien por WhastApp con gusto te atenderemos.</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="ion-ios-arrow-back"></span>
                                <span class="ion-ios-arrow-forward"></span>
                            </div>
                            <h2 style="color:#4E40BF;">Realiza tu pago</h2>
                            <p>Contactate con nosotros, envianos tus datos, te ayudaremos a realizar este facil y sencillo paso.</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="ion-ios-arrow-back"></span>
                                <span class="ion-ios-arrow-forward"></span>
                            </div>
                            <h2 style="color:#EF3027;">Envios a cualquier parte de México</h2>
                            <p>No importa de que parte del pais nos visites, ponte en contacto con nosotros, !TU ENVIO PUEDE SER GRATIS!</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
