<section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-5 d-flex">
                <div class="img d-flex align-self-stretch align-items-center" style="background-image:url(../../Style/images/about.jpg);">
                </div>
            </div>
            <div class="col-md-6 col-lg-7 pl-lg-5 py-5">
                <div class="py-md-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading-section ftco-animate">
                            <span style="color:red;" class="">PAPELERÍA MÉRIDA</span>
                            <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">SURTIDO Y CALIDAD NOS RESPALDA</h2>
                            <p style="text-align:justify;">Somos una papelería mayorista dedicada a proporcionar artículos innovadores, nuestro objetivo es brindarle productos al mejor precio posible con el fin de satisfacer sus necesidades en papelería teniendo en cuenta que la calidad del mismo es un punto clave, así tener una satisfacción completa de los productos de igual forma actuamos como proveedores papeleros ofreciendo un excelente servicio.</p>
                        </div>
                    </div>
                    <div class="counter-wrap ftco-animate d-flex mt-md-3">
                        <a href="#" class="text p-4 bg-primary">
                            <p class="mb-0">
                                <span style="color:white;">Saber más... CLICK AQUÍ</span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
