<!DOCTYPE html>
<html lang="es-MX">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet" />

    <link rel="stylesheet" href="~/Style/css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="~/Style/css/animate.css" />

    <link rel="stylesheet" href="~/Style/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Style/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/Style/css/magnific-popup.css" />

    <link rel="stylesheet" href="~/Style/css/aos.css" />

    <link rel="stylesheet" href="~/Style/css/ionicons.min.css" />

    <link rel="stylesheet" href="~/Style/css/flaticon.css" />
    <link rel="stylesheet" href="~/Style/css/icomoon.css" />
    <link rel="stylesheet" href="~/Style/css/style.css" />
    <link rel="stylesheet" href="~/Style/css/Estilo.css" />

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
        <div class="container">
            @*<a class="navbar-brand" href="/">Papelería<span>Merida</span></a>*@
            <a class="navbar-brand" href="/"><img src="~/Style/images/logo1.png" width="185" height="60" /></a>
            <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menú
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav nav ml-auto">
                    <li class="nav-item"><a href="#home-section" class="nav-link active"><span><b>Inicio</b></span></a></li>
                    <li class="nav-item"><a href="#compras-section" class="nav-link"><span><b>Compras</b></span></a></li>
                    <li class="nav-item"><a href="#services-section" class="nav-link"><span><b>Nuestras marcas</b></span></a></li>

                    <li class="nav-item"><a href="#about-section" class="nav-link"><span><b>Nosotros</b></span></a></li>
                    <li class="nav-item"><a href="#blog-section" class="nav-link"><span><b>Catálogos</b></span></a></li>
                    <li class="nav-item"><a href="#projects-section" class="nav-link"><span><b>Reparaciónes</b></span></a></li>
                    @*<li class="nav-item"><a href="#testimony-section" class="nav-link"><span>Testimony</span></a></li>*@
                    <li class="nav-item"><a href="#contact-section" class="nav-link"><span><b>Contacto</b></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
        </svg>
    </div>

    <script src="~/Style/js/jquery.min.js"></script>
    <script src="~/Style/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Style/js/popper.min.js"></script>
    <script src="~/Style/js/bootstrap.min.js"></script>
    <script src="~/Style/js/jquery.easing.1.3.js"></script>
    <script src="~/Style/js/jquery.waypoints.min.js"></script>
    <script src="~/Style/js/jquery.stellar.min.js"></script>
    <script src="~/Style/js/owl.carousel.min.js"></script>
    <script src="~/Style/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Style/js/aos.js"></script>
    <script src="~/Style/js/jquery.animateNumber.min.js"></script>
    <script src="~/Style/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=true"></script>
    <script src="~/Style/js/google-map.js"></script>

    <script src="~/Style/js/main.js"></script>

</body>
</html>
